<a class="chat-list__link" page="chatId">
    <img src="{{#if Avatar}}{{ Avatar }}{{else}}../../../assets/backgroundAvatar.svg{{/if}}" onerror="this.style.background = '#EFEFEF'" alt="{{name}}" class="chat-list__avatar">
    <div class="chat-list__info">
        {{{ Name }}}
        {{{ Message }}}
    </div>
    <div class="chat-list__notification">
        {{{ Time }}}
        {{#if unread_count}}
            <p class="chat-list__counter">{{ unread_count }}</p>
        {{/if}}
    </div>
</a>
