<header class="profile">
    <div class="profile__header">
        {{{ ProfileAvatar }}}
        {{{ UserNameTitle }}}
    </div>
</header>
<main class="profile">
    <ul class="profile__body">
        {{#each profileFilds}}
            {{{ this }}}
        {{/each}}
    </ul>
</main>
<footer class="profile">
    <ul class="profile__footer">
        {{#each linkList}}
        <li class="profile__link">
            {{{ this }}} 
        </li>
        {{/each}}
    </ul>
</footer>

<nav class="profile__nav">
    <a href="messenger"><img class="profile__back" src="/assets/back-link.svg" alt="Назад"></a>
</nav>

{{{ ChangeAvaterPopup }}}
