<label class="profile-form-input__label" for="{{ name }}">{{ title }}</label>
<input
    name="{{ name }}"
    type="{{ type }}"
    value="{{ value }}"
    class="profile-form-input__input"
    required="{{ required }}"
    placeholder="{{ placeholder }}"
>
<span class="profile-form-input__error {{ hiddenErrorClassName }}">{{ error }}</span>
