<form name="signInForm" class="form">
    {{{ Title }}}
        <fieldset class="form-group from-group__inputs">
            {{{ InputLogin }}}
            {{{ InputPassword }}}
        </fieldset> 
        <fieldset class="form-group form-group__buttons">
            {{{ Button }}}
            {{{ Link }}}
        </fieldset> 
</form>
