<span class="form-input__title {{ hiddenTitleClassName }}">{{ title }}</span>
<input
    type="{{ type }}"
    name="{{ name }}"
    value="{{ value }}"
    class="form-input__input"
    placeholder="{{ title }}"
    {{ required }}
>
<span class="form-input__error {{ hiddenErrorClassName }}">{{ error }}</span>
