<a class="{{#if classNameLink}}{{classNameLink}}{{else}}link__{{ type }}{{/if}}" name="{{ name }}">{{ text }}{{#if imageClassName}}<img src="../../../assets/{{ imageSrc }}" alt="{{ text }}" class="{{ imageClassName }}"{{/if}}</a>
